.ui.middle.aligned.center.aligned.grid.login
  .column
    %h2.ui.teal.image.header
      %img.image{:src => image_path("time.jpg")}/
      .content
        Log-in to your account
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui large form"}) do |f|
      .ui.stacked.segment
        .field
          .ui.left.icon.input
            %i.user.icon
            = f.text_field :email, autofocus: true, :placeholder => "E-mail address"
        .field
          .ui.left.icon.input
            %i.lock.icon
            = f.password_field :password, autocomplete: "off", :placeholder => "Password"
        = f.submit "Login", class: "ui fluid large teal submit button"
      .ui.error.message
    .ui.message
      New to us?
      %a{:href => "/sign_up"} Sign Up
