.ui.three.column.centered.grid
  .ui.centered.row
    .column
      .ui.raised.centered.card
        .content
          .header.center.aligned Current Time
        .content
          .description#clockbox
            .ui.small.buttons
              %button.ui.button
                Monday
              %button.ui.button
                6 November
              %button.ui.button
                2017
            .ui.mini.steps
              .step.day
              .step.day_of_month
              .step.month
              .step.year
            .ui.mini.statistics
              .statistic.hr
                .value
                  23
              .statistic.min
                .value
                  10
              .statistic.sec
                .value
                  59
          / %h4.ui.sub.header Activity
          / .ui.small.feed
          /   .event
          /     .content
          /       .summary
          /         %a Elliot Fu
          /         added
          /         %a Jenny Hess
          /         to the project
          /   .event
          /     .content
          /       .summary
          /         %a Stevie Feliciano
          /         was added as an
          /         %a Administrator
          /   .event
          /     .content
          /       .summary
          /         %a Helen Troy
          /         added two pictures
        .extra.content
          %button.ui.button Join Project
    .column
      .ui.centered.card
        .content
          .header Project Timeline
        .content
          %h4.ui.sub.header Activity
          .ui.small.feed
            .event
              .content
                .summary
                  %a Elliot Fu
                  added
                  %a Jenny Hess
                  to the project
            .event
              .content
                .summary
                  %a Stevie Feliciano
                  was added as an
                  %a Administrator
            .event
              .content
                .summary
                  %a Helen Troy
                  added two pictures
        .extra.content
          %button.ui.button Join Project
