.ui.three.column.centered.grid
  .column
    .ui.raised.centered.card
      .content
        .header.center.aligned Current Time
      .content
        .description#clockbox
          .ui.horizontal.segments.date
            .ui.grey.center.aligned.segment#day
              %p
            .ui.grey.center.aligned.segment#month
              %p
            .ui.grey.center.aligned.segment#year
              %p
          .ui.center.aligned.horizontal.segments.time
            .ui.segment#hh
              %p
            .ui.grey.inverted.segment
              %p :
            .ui.segment#mm
              %p
            .ui.grey.inverted.segment
              %p :
            .ui.segment#ss
              %p
      .ui.bottom.attached.button#start_session{class: (@disable_session_button ? ' disabled' : "").to_s}
        %i.hourglass.start.icon
        Start Session
  .column#month_avg_sessions
    = render partial: "month_avg_sessions", locals: { average_time: @average_time }

.ui.centered.grid
  .ten.wide.column#daily_session
    %button.fluid.ui.black.button#daily_session_show
      Daily Sessions
